target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store


./mediask-be/.idea/

### Python / uv ###
.venv/
__pycache__/
*.pyc
### Proposal artifacts ###
tmp/
output/*
!output/doc/
output/doc/*
!output/doc/开题报告-基于大语言模型的智能医疗辅助问诊系统-模板版.docx
5罗向阳 基于YOLOv10的农作物识别算法研究 开题报告.docx
郝伟康-开题报告.docx
.python-version
pyproject.toml
uv.lock